<launch>
  <!-- Additional options -->
  <arg name="spurn" default=""/>              <!-- PRevent a specific node   -->
  <arg name="nodes" default=""/>              <!-- Launch specific nodes     -->
  <arg name="extra" default=""/>              <!-- Inject an additional node -->
  <arg name="debug" default=""/>                 <!-- Debug a node set          -->
  <arg name="output" default="log"/>          <!-- Where to log              -->
  <arg name="ns"    default="" />             <!-- Robot namespace           -->
  <arg name="loc_only" default="false"/>           <!-- Only run localization     -->

  <!-- ***TRACE nodelets and managers***-->
  <rosparam command="load" file="$(find execute_asap)/config/casadi-nmpc-config/casadi_nmpc_params.yaml"/>
  <?comment launch-prefix="gdb -ex run --args" ?>

  <param name="td/instruct" type="string" value="no_action" />

    <node pkg="nodelet" type="nodelet" name="casadi_nmpc"
          required="false" respawn="false"
          args="standalone casadi_nmpc/CasadiNMPCNodelet"
          output="$(arg output)"/>
  <!-- ***end TRACE nodelets and managers***-->
</launch>
