<launch>
  <!-- Additional options -->
  <arg name="spurn" default=""/>                 <!-- PRevent a specific node   -->
  <arg name="nodes" default=""/>                 <!-- Launch specific nodes     -->
  <arg name="extra" default=""/>                 <!-- Inject an additional node -->
  <arg name="debug" default=""/>                 <!-- Debug a node set          -->
  <arg name="output" default="screen"/>          <!-- Where nodes should log    -->
  <arg name="ns" default="" />                   <!-- Robot namespace           -->
  <arg name="env" default="iss" />

  <!-- ***TRACE nodelets and managers***-->
  <?comment launch-prefix="x-terminal-emulator -e gdb -ex run --args" ?>

  <!-- Load params for queen -->
  <rosparam command="load" file="$(find execute_asap)/config/mit-slam-config/slam_params_$(arg env).yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/mit-slam-config/blob_params_$(arg env).yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/mit-slam-config/cloud_params_$(arg env).yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/mit-slam-config/graph_params_$(arg env).yaml"/>
  
  <rosparam command="load" file="$(find execute_asap)/config/uc-bound-config/uc_bound_params.yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/motion-planner-interface-config/traj_params.yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/casadi-nmpc-config/casadi_nmpc_params.yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/chaser-coordinator-config/chaser_coord_params.yaml"/>
  
  <node pkg="nodelet" type="nodelet" name="mit_slam"
      required="false" respawn="false"
      args="standalone mit_slam/MitSlamNodelet"
      output="$(arg output)"/>
  <node pkg="nodelet" type="nodelet" name="chaser_coordinator"
      required="false" respawn="false"
      args="standalone chaser_coordinator/ChaserCoordinatorNodelet"
      output="$(arg output)"/>
  <node pkg="nodelet" type="nodelet" name="uc_bound"
      required="false" respawn="false"
      args="standalone uc_bound/UCBoundNodelet"
      output="$(arg output)"/>
  <node pkg="nodelet" type="nodelet" name="motion_planner_interface"
      required="false" respawn="false"
      args="standalone motion_planner_interface/MotionPlannerInterfaceNodelet"
      output="$(arg output)"/>
  
  <node pkg="casadi_nmpc" type="z_poly_calc.py" name="z_poly_calc"
      required="false" respawn="false"
      output="$(arg output)"/>
  <!-- ***end TRACE nodelets and managers***-->
</launch>
