<launch>
  <!-- Additional options -->
  <arg name="spurn" default=""/>                 <!-- PRevent a specific node   -->
  <arg name="nodes" default=""/>                 <!-- Launch specific nodes     -->
  <arg name="extra" default=""/>                 <!-- Inject an additional node -->
  <arg name="debug" default=""/>                 <!-- Debug a node set          -->
  <arg name="output" default="screen"/>          <!-- Where nodes should log    -->
  <arg name="ns" default="" />                   <!-- Robot namespace           -->

  <!-- ***TRACE nodelets and managers***-->
  <?comment launch-prefix="x-terminal-emulator -e gdb -ex run --args" ?>

  <!-- Load params for bumble -->
  <rosparam command="load" file="$(find execute_asap)/config/target-coordinator-config/targ_coord_params.yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/casadi-nmpc-config/casadi_nmpc_params.yaml"/>

  <node pkg="nodelet" type="nodelet" name="target_coordinator"
        required="false" respawn="false"
        args="standalone target_coordinator/TargetCoordinatorNodelet"
        output="$(arg output)"/>

  <!-- ***end TRACE nodelets and managers***-->
</launch>
